body{
    font-family: 'Open Sans', sans-serif;
    background: white;
    color:#3d4044;
    line-height: 1.6;
    height: 100vh;
    overflow-x: hidden;
}
section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.text-color{
    color: maroon;
}

.job-skills p{
   /* margin-right: 1rem;
    border-radius: 20px; 
    border: 1px solid lightskyblue;
    width: auto; 
    height: auto; 
   padding-left: 1rem;*/
   padding-right: 1rem;
    font-size: small; 
    color:rgb(0, 45, 128);
}
#home{
    margin-top: 5rem;
}

.job{
    padding-bottom: 4rem;
}

#home h2{
    font-weight: lighter;
    font-size: 2.5rem;
    padding-top:3rem;
    width: 60%;
}

#home h3{
    padding-top: 10rem;
}

#about{
    padding-top: 10rem;
}

.skills-category{
    padding-right: 4rem;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  .fade-in.appear {
    opacity: 1;
  }


#projects a{
    text-decoration: none;
    color: maroon; ; 
}
#projects a:hover{
    color: maroon; ; 
    text-decoration: none;
}

.projects-descript{
    padding-bottom: 4rem;
    width: 80%;
}

#foot a{
    text-decoration: none;
    color: maroon; 
    padding-right:1rem;
}

#foot a:hover{
    text-decoration: none;
    color: maroon; 
}


 @media only screen and (max-width: 768px){
    #home h1{
        font-size: 1.5rem;
    }
    #home h2{
        font-size: 2rem;
        width: 100%;
    }
    #home h3{
        font-size:1rem
    }
    ul li {
        display: block !important;
      }

    

}

@media (max-width: 767px) {
    #home h1{
        font-size: 1.5rem;
    }
    #home h2{
        font-size: 2rem;
        width: 100%;
    }
    #home h3{
        font-size:1rem
    }

    ul li {
      display: block !important;
    }
  }